# 2024-01-06
### Q1. 두 수의 합
#### 문제 설명
정수 num1과 num2가 주어질 때, num1과 num2의 합을 return하도록 soltuion 함수를 완성해주세요  
  
num1	num2	result  
2	3	5  
100	2	102

In [1]:
def solution1(num1, num2):
    return num1 + num2

In [2]:
solution1(2,3)

5

In [3]:
solution1(100,2)

102

### Q2. 두 수의 차
#### 문제 설명
정수 num1과 num2가 주어질 때, num1에서 num2를 뺀 값을 return하도록 soltuion 함수를 완성해주세요.  
  
num1	num2	result  
2	3	-1  
100	2	98

In [4]:
def solution2(num1, num2):
    return num1 - num2

In [5]:
solution2(2,3)

-1

In [6]:
solution2(100 , 2)

98

In [7]:
n1 = 2
n2 = 3
for i in range(n2):
    n1 -= 1
print(n1)

-1

### Q3. 두 수의 곱
#### 문제 설명
정수 num1, num2가 매개변수 주어집니다. num1과 num2를 곱한 값을 return 하도록 solution 함수를 완성해주세요.  
  
num1	num2	result  
3	4	12  
27	19	513

In [8]:
def solution3(num1, num2):
    answer = 0
    for i in range(num2):
        answer += num1
    return answer

In [9]:
solution3(3,4)

12

In [10]:
solution3(27,19)

513

### Q4. 몫 구하기
#### 문제 설명
정수 num1, num2가 매개변수로 주어질 때, num1을 num2로 나눈 몫을 return 하도록 solution 함수를 완성해주세요.  
  
num1	num2	result  
10	5	2  
7	2	3

In [14]:
def solution4(num1, num2):
    return num1 // num2

In [15]:
solution4(10,5)

2