# 2024-01-06
### Q1. 두 수의 나눗셈
#### 문제 설명
정수 num1과 num2가 매개변수로 주어질 때, num1을 num2로 나눈 값에 1,000을 곱한 후 정수 부분을 return 하도록 soltuion 함수를 완성해주세요.  
  
num1	num2	result  
3	2	1500  
7	3	2333  
1	16	62

In [3]:
def solution1(num1, num2):
    return int((num1 / num2)*1000)

In [4]:
solution1(3,2)

1500

In [5]:
solution1(7,3)

2333

In [6]:
solution1(1,16)

62

### Q2. 숫자 비교하기
#### 문제 설명
정수 num1과 num2가 매개변수로 주어집니다. 두 수가 같으면 1 다르면 -1을 retrun하도록 solution 함수를 완성해주세요.
  
num1	num2	result  
2	3	-1  
11	11	1  
7	99	-1

In [7]:
def solution2(num1, num2):
    if num1 == num2:
        return 1
    else:
        return -1

In [8]:
solution2(2,3)

-1

In [9]:
solution2(11,11)

1

### Q3. 분수의 덧셈
#### 문제 설명
첫 번째 분수의 분자와 분모를 뜻하는 numer1, denom1, 두 번째 분수의 분자와 분모를 뜻하는 numer2, denom2가 매개변수로 주어집니다. 두 분수를 더한 값을 기약 분수로 나타냈을 때 분자와 분모를 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.  
  
numer1	denom1	numer2	denom2	result  
1	2	3	4	[5, 4]  
9	2	1	3	[29, 6]

In [23]:
def solution3(numer1, denom1, numer2, denom2):
    fra = (numer1*denom2) + (numer2*denom1)
    den = denom1*denom2
    gcd = fra
    x = den
    while x:
        gcd, x = x, gcd % x
    return [int(fra/gcd),int(den/gcd)]

In [24]:
solution3(1,2,3,4)

[5, 4]

In [25]:
solution3(9,2,1,3)

[29, 6]

### Q4. 배열 두배 만들기
#### 문제 설명
정수 배열 numbers가 매개변수로 주어집니다. numbers의 각 원소에 두배한 원소를 가진 배열을 return하도록 solution 함수를 완성해주세요.  
  
numbers	result  
[1, 2, 3, 4, 5]	[2, 4, 6, 8, 10]  
[1, 2, 100, -99, 1, 2, 3]	[2, 4, 200, -198, 2, 4, 6]

In [27]:
def solution4(numbers):
    return [i*2 for i in numbers]

In [28]:
n1 = [1, 2, 3, 4, 5]
n2 = [1, 2, 100, -99, 1, 2, 3]

In [29]:
solution4(n1)

[2, 4, 6, 8, 10]

In [30]:
solution4(n2)

[2, 4, 200, -198, 2, 4, 6]