# 2024-01-14
### Q1.특정 문자 제거하기
#### 문제 설명
문자열 my_string과 문자 letter이 매개변수로 주어집니다. my_string에서 letter를 제거한 문자열을 return하도록 solution 함수를 완성해주세요.  
  
my_string	letter	result  
"abcdef"	"f"	"abcde"  
"BCBdbe"	"B"	"Cdbe"

In [4]:
def solution1(my_string, letter):
    return my_string.replace(letter,"")

In [5]:
str1 = "abcdef"
# str1.replace("f","")

In [6]:
str2 = "BCBdbe"
# str2.replace("B","")

In [7]:
solution1(str1,"f")

'abcde'

In [8]:
solution1(str2,"B")

'Cdbe'

### Q2. 각도기
#### 문제 설명
각에서 0도 초과 90도 미만은 예각, 90도는 직각, 90도 초과 180도 미만은 둔각 180도는 평각으로 분류합니다. 각 angle이 매개변수로 주어질 때 예각일 때 1, 직각일 때 2, 둔각일 때 3, 평각일 때 4를 return하도록 solution 함수를 완성해주세요.
  
- 예각 : 0 < angle < 90
- 직각 : angle = 90
- 둔각 : 90 < angle < 180
- 평각 : angle = 180
  
angle	result  
70	1  
91	3  
180	4

In [12]:
def solution2(angle):
    if angle > 0 and angle < 90:
        return 1
    elif angle == 90:
        return 2
    elif angle > 90 and angle < 180:
        return 3
    else:
        return 4

In [13]:
solution2(70)

1

In [14]:
solution2(91)

3

In [15]:
solution2(180)

4

### Q3.양꼬치
#### 문제 설명
머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 정수 n과 k가 매개변수로 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return 하도록 solution 함수를 완성해보세요.  
  
 n	k	result  
10	3	124,000  
64	6	768,000

In [23]:
def solution3(n, k):
    answer = n * 12000
    if n >= 10:
        k -= (n//10)
    answer += k * 2000
    return answer

In [24]:
solution3(10,3)

124000

### Q4.짝수의 합
#### 문제 설명
정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.  
  
n	result  
10	30  
4	6

In [25]:
def solution4(n):
    answer = 0
    for i in range(n + 1):
        if i % 2 == 0:
            answer += i
    return answer

In [28]:
def solution4_1(n):
    return sum([i for i in range(n+1) if i % 2 ==0])

In [26]:
solution4(10)

30

In [27]:
solution4(4)

6

In [29]:
solution4_1(10)

30

In [30]:
solution4_1(4)

6