# 2024-01-12
### Q1.옷가게 할인 받기
#### 문제 설명
머쓱이네 옷가게는 10만 원 이상 사면 5%, 30만 원 이상 사면 10%, 50만 원 이상 사면 20%를 할인해줍니다.
구매한 옷의 가격 price가 주어질 때, 지불해야 할 금액을 return 하도록 solution 함수를 완성해보세요.  
  
price	result  
150,000	142,500  
580,000	464,000

In [14]:
def solution1(price):
    disc = 0
    if price >= 500000:
        disc = 0.2
    elif price >= 300000:
        disc = 0.1
    elif price >= 100000:
        disc = 0.05
    return int(price-price*disc)

In [15]:
solution1(150000)

142500

In [16]:
solution1(580000)

464000

### Q2. 아이스 아메리카노
#### 문제 설명
머쓱이는 추운 날에도 아이스 아메리카노만 마십니다. 아이스 아메리카노는 한잔에 5,500원입니다. 머쓱이가 가지고 있는 돈 money가 매개변수로 주어질 때, 머쓱이가 최대로 마실 수 있는 아메리카노의 잔 수와 남는 돈을 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.  
   
money	result  
5500	[1, 0]  
15000	[2, 4000]

In [3]:
def solutio2(money):
    num = money//5500
    chi = money - (5500*num)
    return [num,chi]

In [2]:
15000 // 5500

2

In [4]:
solutio2(5500)

[1, 0]

In [5]:
solutio2(15000)

[2, 4000]

### Q3. 나이 출력
#### 문제 설명
머쓱이는 40살인 선생님이 몇 년도에 태어났는지 궁금해졌습니다. 나이 age가 주어질 때, 2022년을 기준 출생 연도를 return 하는 solution 함수를 완성해주세요.  
  
age	result  
40	1983  
23	2000

In [8]:
def solution3(age):
    return 2022-age+1

In [9]:
solution3(40)

1983

In [10]:
solution3(23)

2000

### Q4. 배열 뒤집기
#### 문제 설명
정수가 들어 있는 배열 num_list가 매개변수로 주어집니다. num_list의 원소의 순서를 거꾸로 뒤집은 배열을 return하도록 solution 함수를 완성해주세요.  
  
num_list	result  
[1, 2, 3, 4, 5]	[5, 4, 3, 2, 1]  
[1, 1, 1, 1, 1, 2]	[2, 1, 1, 1, 1, 1]  
[1, 0, 1, 1, 1, 3, 5]	[5, 3, 1, 1, 1, 0, 1]

In [11]:
def solution4(num_list):
    return num_list[::-1]

In [12]:
a = [1, 2, 3, 4, 5]
b = [1, 1, 1, 1, 1, 2]
c = [1, 0, 1, 1, 1, 3, 5]

In [13]:
solution4(a)

[5, 4, 3, 2, 1]

In [14]:
solution4(b)

[2, 1, 1, 1, 1, 1]

In [15]:
solution4(c)

[5, 3, 1, 1, 1, 0, 1]