# 2024-01-04
### Q1. 정수를 나선형으로 배치하기
#### 문제 설명
양의 정수 n이 매개변수로 주어집니다. n × n 배열에 1부터 n2 까지 정수를 인덱스 [0][0]부터 시계방향 나선형으로 배치한 이차원 배열을 return 하는 solution 함수를 작성해 주세요.  
 
n	result  
4	[[1, 2, 3, 4], [12, 13, 14, 5], [11, 16, 15, 6], [10, 9, 8, 7]]  
5	[[1, 2, 3, 4, 5], [16, 17, 18, 19, 6], [15, 24, 25, 20, 7], [14, 23, 22, 21, 8], [13, 12, 11, 10, 9]]

In [9]:
def solution1(n):
    answer = [[0 for _ in range(n)]for _ in range(n)]
    return answer

In [10]:
solution1(4)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [11]:
solution1(5)

[[0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [6]:
test = [[0 for _ in range(4)]for _ in range(4)]
test #00 01 02 03 / 13 23 33 / 32 31 30 / 20 10 / 11 12 / 22 21

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [24]:
x = [0,1,2,3]
y = [0,1,2,3]

TypeError: can only assign an iterable

### Q2. 특별한 이차원 배열 2
#### 문제 설명
n × n 크기의 이차원 배열 arr이 매개변수로 주어질 때, arr이 다음을 만족하면 1을 아니라면 0을 return 하는 solution 함수를 작성해 주세요.
  
- 0 ≤ i, j < n인 정수 i, j에 대하여 arr[i][j] = arr[j][i]  
  
arr	result
[[5, 192, 33], [192, 72, 95], [33, 95, 999]]	1
[[19, 498, 258, 587], [63, 93, 7, 754], [258, 7, 1000, 723], [587, 754, 723, 81]]	0

In [ ]:
def solution2(arr):
    answer = 0
    return answer

### Q3. 정사각형으로 만들기
#### 문제 설명
이차원 정수 배열 arr이 매개변수로 주어집니다. arr의 행의 수가 더 많다면 열의 수가 행의 수와 같아지도록 각 행의 끝에 0을 추가하고, 열의 수가 더 많다면 행의 수가 열의 수와 같아지도록 각 열의 끝에 0을 추가한 이차원 배열을 return 하는 solution 함수를 작성해 주세요.  
  
arr	result  
[[572, 22, 37], [287, 726, 384], [85, 137, 292], [487, 13, 876]]	[[572, 22, 37, 0], [287, 726, 384, 0], [85, 137, 292, 0], [487, 13, 876, 0]]  
[[57, 192, 534, 2], [9, 345, 192, 999]]	[[57, 192, 534, 2], [9, 345, 192, 999], [0, 0, 0, 0], [0, 0, 0, 0]]
[[1, 2], [3, 4]]	[[1, 2], [3, 4]]

In [ ]:
def solution3(arr):
    answer = [[]]
    return answer

### Q4. 이차원 배열 대각선 순회하기
#### 문제 설명
2차원 정수 배열 board와 정수 k가 주어집니다.

i + j <= k를 만족하는 모든 (i, j)에 대한 board[i][j]의 합을 return 하는 solution 함수를 완성해 주세요.
  
board	k	result  
[[0, 1, 2],[1, 2, 3],[2, 3, 4],[3, 4, 5]]	2	8

In [ ]:
def solution4(board, k):
    answer = 0
    return answer