# 2023-12-18
### Q1. n 번째 원소부터
#### 문제 설명
정수 리스트 num_list와 정수 n이 주어질 때, n 번째 원소부터 마지막 원소까지의 모든 원소를 담은 리스트를 return하도록 solution 함수를 완성해주세요. 
  
num_list	n	result  
[2, 1, 6]	3	[6]  
[5, 2, 1, 7, 5]	2	[2, 1, 7, 5]

In [3]:
def solution1(num_list, n):
    return num_list[n-1:]

In [35]:
nl = [2, 1, 6]
nl2 = [5, 2, 1, 7, 5]
solution1(nl,3)

[6]

In [5]:
solution1(nl2,2)

[2, 1, 7, 5]

### Q2. 순서바꾸기
#### 문제 설명
정수 리스트 num_list와 정수 n이 주어질 때, num_list를 n 번째 원소 이후의 원소들과 n 번째까지의 원소들로 나눠 n 번째 원소 이후의 원소들을 n 번째까지의 원소들 앞에 붙인 리스트를 return하도록 solution 함수를 완성해주세요.  
  
num_list	n	result
[2, 1, 6]	1	[1, 6, 2]
[5, 2, 1, 7, 5]	3	[7, 5, 5, 2, 1]

In [56]:
def solution2(num_list, n):
    answer = []
    answer.extend(num_list[n:])
    answer.extend(num_list[0:n])
    return answer

In [57]:
nl = [2, 1, 6]
nl2 = [5, 2, 1, 7, 5]
solution2(nl,1)

[1, 6, 2]

In [58]:
solution2(nl2,3)

[7, 5, 5, 2, 1]

### Q3. n 번째 원소부터
#### 문제 설명