# 2023-12-31
### Q1. 뒤에서 5등 위로
#### 문제 설명
정수로 이루어진 리스트 num_list가 주어집니다. num_list에서 가장 작은 5개의 수를 제외한 수들을 오름차순으로 담은 리스트를 return하도록 solution 함수를 완성해주세요.  
  
num_list	result  
[12, 4, 15, 46, 38, 1, 14, 56, 32, 10]	[15, 32, 38, 46, 56]

In [7]:
def solution1(num_list):
    num_list.sort()
    return num_list[5:]

In [6]:
test = [12, 4, 15, 46, 38, 1, 14, 56, 32, 10]
test.sort()
test[5:]

[15, 32, 38, 46, 56]

In [8]:
solution1(test)

[15, 32, 38, 46, 56]

### Q2. 전국 대회 선발 고사
#### 문제 설명
0번부터 n - 1번까지 n명의 학생 중 3명을 선발하는 전국 대회 선발 고사를 보았습니다. 등수가 높은 3명을 선발해야 하지만, 개인 사정으로 전국 대회에 참여하지 못하는 학생들이 있어 참여가 가능한 학생 중 등수가 높은 3명을 선발하기로 했습니다.  
  
각 학생들의 선발 고사 등수를 담은 정수 배열 rank와 전국 대회 참여 가능 여부가 담긴 boolean 배열 attendance가 매개변수로 주어집니다. 전국 대회에 선발된 학생 번호들을 등수가 높은 순서대로 각각 a, b, c번이라고 할 때 10000 × a + 100 × b + c를 return 하는 solution 함수를 작성해 주세요.  
  


rank	attendance	result  
[3, 7, 2, 5, 4, 6, 1]	[false, true, true, true, true, false, false]	20403  
[1, 2, 3]	[true, true, true]	102  
[6, 1, 5, 2, 3, 4]	[true, false, true, false, false, true]	50200

In [50]:
def solution2(rank, attendance):
    List = [rank[i] for  i in range(len(rank)) if attendance[i]]
    List.sort()
    a = rank.index(List[0])
    b = rank.index(List[1])
    c = rank.index(List[2])
    answer = 10000 * a + 100 * b + c
    return answer

In [51]:
ra = [3, 7, 2, 5, 4, 6, 1]
aa = [False, True, True, True, True, False, False]
rb = [1, 2, 3]
ab = [True, True, True]
rc = [6, 1, 5, 2, 3, 4]
ac = [True, False, True, False, False, True]

In [52]:
Lis = [ra[i] for i in range(len(ra)) if aa[i]]
Lis.sort()
Lis

for i in Lis[:3]:
    print(ra.index(i))

2
4
3

In [53]:
solution2(ra,aa)

20403

### Q3. 정수 부분
#### 문제 설명
실수 flo가 매개 변수로 주어질 때, flo의 정수 부분을 return하도록 solution 함수를 완성해주세요.  
  
flo	result  
1.42	1  
69.32	69

In [54]:
def solution3(flo):
    return int(flo)

In [55]:
solution3(1.42)

1

In [56]:
solution3(69.32)

69

### Q4. 문자열 정수의 합
#### 문제 설명
한 자리 정수로 이루어진 문자열 num_str이 주어질 때, 각 자리수의 합을 return하도록 solution 함수를 완성해주세요.  
  
num_str	result  
"123456789"	45  
"1000000"	1

In [66]:
def solution4(num_str):
    answer = [int(i) for i in list(num_str)]
    return sum(answer)

In [67]:
st = "123456789"
list(st)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [68]:
solution4(st)

45

### Q5. 문자열을 정수로 변환하기
#### 문제 설명
숫자로만 이루어진 문자열 n_str이 주어질 때, n_str을 정수로 변환하여 return하도록 solution 함수를 완성해주세요.  
  

n_str	result  
"10"	10  
"8542"	8542

In [69]:
def solution5(n_str):
    return int(n_str)

In [70]:
solution5("10")

10