# 2023-12-26
### Q1. 세 개의 구분자
#### 문제 설명
임의의 문자열이 주어졌을 때 문자 "a", "b", "c"를 구분자로 사용해 문자열을 나누고자 합니다.  
예를 들어 주어진 문자열이 "baconlettucetomato"라면 나눠진 문자열 목록은 ["onlettu", "etom", "to"] 가 됩니다.  
문자열 myStr이 주어졌을 때 위 예시와 같이 "a", "b", "c"를 사용해 나눠진 문자열을 순서대로 저장한 배열을 return 하는 solution 함수를 완성해 주세요.  
단, 두 구분자 사이에 다른 문자가 없을 경우에는 아무것도 저장하지 않으며, return할 배열이 빈 배열이라면 ["EMPTY"]를 return 합니다.  
  
myStr	result  
"baconlettucetomato"	["onlettu", "etom", "to"]  
"abcd"	["d"]  
"cabab"	["EMPTY"]

In [32]:
def solution1(myStr):
    myStr = myStr.replace("a"," ")
    myStr = myStr.replace("b"," ")
    answer = myStr.replace("c"," ")
    answer = answer.split(" ")
    while "" in answer:
        answer.remove("")
    if not answer:
        return ["EMPTY"]
    else:
        return answer

In [41]:
def solution1_1(myStr):
    split_str = myStr.split("a")
    result = []
    for s in split_str:
        if "b" in s:
            split_b = s.split("b")
            for item in split_b:
                if "c" in item:
                    result.extend(item.split("c"))
                else:
                    result.append(item)
        elif "c" in s:
            result.extend(s.split("c"))
        else:
            result.append(s)
    result = [item for item in result if item]
    return result if result else ["EMPTY"]

In [33]:
test = "baconlettucetomato"
test2 = "abcd"
test3 = "cabab"
a = test.split("a")
b = test.split("b")
c = test.split("c")
print(a,b,c)

['b', 'conlettucetom', 'to'] ['', 'aconlettucetomato'] ['ba', 'onlettu', 'etomato']

In [34]:
solution1(test)

['onlettu', 'etom', 'to']

In [42]:
solution1_1(test)

['onlettu', 'etom', 'to']

In [35]:
solution1(test2)

['d']

In [43]:
solution1_1(test2)

['d']

In [36]:
solution1(test3)

['EMPTY']

In [44]:
solution1_1(test3)

['EMPTY']

In [37]:
a = ""
for i in test:
    a += i
print(a)

baconlettucetomato

In [16]:
test[2:]

'conlettucetomato'

In [25]:
b = test.replace("a"," ")
c = b.replace("b"," ")
answer = c.replace("c"," ")
answer = answer.split(" ")
while "" in answer:
    answer.remove("")
answer

['onlettu', 'etom', 'to']

In [38]:
for i in test[3:]:
    print(i)

o
n
l
e
t
t
u
c
e
t
o
m
a
t
o

### Q2. 배열의 원소만큼 추가하기
#### 문제 설명
아무 원소도 들어있지 않은 빈 배열 X가 있습니다. 양의 정수 배열 arr가 매개변수로 주어질 때, arr의 앞에서부터 차례대로 원소를 보면서 원소가 a라면 X의 맨 뒤에 a를 a번 추가하는 일을 반복한 뒤의 배열 X를 return 하는 solution 함수를 작성해 주세요.  
  
arr	result  
[5, 1, 4]	[5, 5, 5, 5, 5, 1, 4, 4, 4, 4]  
[6, 6]	[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]  
[1]	[1]

In [45]:
def solution2(arr):
    answer = []
    for i in arr:
        for l in range(i):
            answer.append(i)
    return answer

In [46]:
arr1 = [5, 1, 4]
arr2 = [6, 6]
arr3 = [1]
solution2(arr1)

[5, 5, 5, 5, 5, 1, 4, 4, 4, 4]

### Q3. 빈 배열에 추가, 삭제하기
#### 문제 설명
아무 원소도 들어있지 않은 빈 배열 X가 있습니다. 길이가 같은 정수 배열 arr과 boolean 배열 flag가 매개변수로 주어질 때, flag를 차례대로 순회하며 flag[i]가 true라면 X의 뒤에 arr[i]를 arr[i] × 2 번 추가하고, flag[i]가 false라면 X에서 마지막 arr[i]개의 원소를 제거한 뒤 X를 return 하는 solution 함수를 작성해 주세요.  
  
arr	flag	result  
[3, 2, 4, 1, 3]	[true, false, true, false, false]	[3, 3, 3, 3, 4, 4, 4, 4]

In [49]:
def solution3(arr, flag):
    answer = []
    for i in range(len(arr)):
        if flag[i] == True:
            for l in range(arr[i]*2):
                answer.append(arr[i])
        elif flag[i] == False:
            for l in range(arr[i]):
                answer.pop()
    return answer

In [50]:
aa = [3, 2, 4, 1, 3]
fl = [True, False, True, False, False]
solution3(aa,fl)

[3, 3, 3, 3, 4, 4, 4, 4]

### Q4. 배열 만들기 6
#### 문제 설명
0과 1로만 이루어진 정수 배열 arr가 주어집니다. arr를 이용해 새로운 배열 stk을 만드려고 합니다.
i의 초기값을 0으로 설정하고 i가 arr의 길이보다 작으면 다음을 반복합니다.
  
- 만약 stk이 빈 배열이라면 arr[i]를 stk에 추가하고 i에 1을 더합니다.
- stk에 원소가 있고, stk의 마지막 원소가 arr[i]와 같으면 stk의 마지막 원소를 stk에서 제거하고 i에 1을 더합니다.
- stk에 원소가 있는데 stk의 마지막 원소가 arr[i]와 다르면 stk의 맨 마지막에 arr[i]를 추가하고 i에 1을 더합니다.
  
위 작업을 마친 후 만들어진 stk을 return 하는 solution 함수를 완성해 주세요.  
단, 만약 빈 배열을 return 해야한다면 [-1]을 return 합니다.  
  
arr	result  
[0, 1, 1, 1, 0]	[0, 1, 0]   
[0, 1, 0, 1, 0]	[0, 1, 0, 1, 0]    
[0, 1, 1, 0]	[-1]

In [51]:
def solutio4(arr):
    answer = []
    i = 0
    while i != len(arr):
        if not answer:
            answer.append(arr[i])
            i += 1
        elif answer[-1] == arr[i]:
            answer.pop()
            i += 1
        elif answer[-1] != arr[i]:
            answer.append(arr[i])
            i += 1
    if not answer:
        return [-1]
    else:
        return answer

In [52]:
a1 = [0, 1, 1, 1, 0]
a2 = [0, 1, 0, 1, 0]
a3 = [0, 1, 1, 0]

In [53]:
solutio4(a1)

[0, 1, 0]

In [54]:
solutio4(a2)

[0, 1, 0, 1, 0]

In [55]:
solutio4(a3)

[-1]

### Q5. 무작위로 K개의 수 뽑기
#### 문제 설명
랜덤으로 서로 다른 k개의 수를 저장한 배열을 만드려고 합니다. 적절한 방법이 떠오르지 않기 때문에 일정한 범위 내에서 무작위로 수를 뽑은 후, 지금까지 나온적이 없는 수이면 배열 맨 뒤에 추가하는 방식으로 만들기로 합니다.
이미 어떤 수가 무작위로 주어질지 알고 있다고 가정하고, 실제 만들어질 길이 k의 배열을 예상해봅시다.
정수 배열 arr가 주어집니다. 문제에서의 무작위의 수는 arr에 저장된 순서대로 주어질 예정이라고 했을 때, 완성될 배열을 return 하는 solution 함수를 완성해 주세요.
단, 완성될 배열의 길이가 k보다 작으면 나머지 값을 전부 -1로 채워서 return 합니다.  
  
arr	k	result  
[0, 1, 1, 2, 2, 3]	3	[0, 1, 2]  
[0, 1, 1, 1, 1]	4	[0, 1, -1, -1]

In [74]:
def solution5(arr, k):
    answer = []
    s = list(set(arr))
    for i in s[:k]:
        if i in answer:  
            pass
        else:
            answer.append(i)
    if len(answer) != k:
        for i in range(k - len(answer)):
            answer.append(-1)
    return answer

In [75]:
aaa1 = [0, 1, 1, 2, 2, 3]
aaa2 = [0, 1, 1, 1, 1]

In [76]:
aaa1[2:]

[1, 2, 2, 3]

In [77]:
solution5(aaa1,3)

[0, 1, 2]

In [78]:
solution5(aaa2,4)

[0, 1, -1, -1]

In [64]:
s = list(set(aaa1))
s[1]

1