# 2023-12-31
### Q1. 0 떼기
#### 문제 설명
수로 이루어진 문자열 n_str이 주어질 때, n_str의 가장 왼쪽에 처음으로 등장하는 0들을 뗀 문자열을 return하도록 solution 함수를 완성해주세요.  
  
n_str	result  
"0010"	"10"  
"854020"	"854020"

In [3]:
def solution1(n_str):
    for i in range(len(n_str)):
        if n_str[i] != "0":
            return n_str[i:]
            break

In [4]:
x = "0010"
for i in range(len(x)):
    print(x[i])

0
0
1
0

In [5]:
solution1(x)

'10'

In [6]:
solution1("854020")

'854020'

### Q2. 두 수의 합
#### 문제 설명
0 이상의 두 정수가 문자열 a, b로 주어질 때, a + b의 값을 문자열로 return 하는 solution 함수를 작성해 주세요.  
  
a	b	result  
"582"	"734"	"1316"  
"18446744073709551615"	"287346502836570928366"	"305793246910280479981"  
"0"	"0"	"0"

In [7]:
def solution2(a, b):
    return str(int(a)+int(b))

In [8]:
solution2("582","734")

'1316'

### Q3. 문자열로 변환
#### 문제 설명
정수 n이 주어질 때, n을 문자열로 변환하여 return하도록 solution 함수를 완성해주세요.  
  
n result  
123	"123"  
2573	"2573"

In [ ]:
def solution3(n):
    return str(n)

### Q4. 배열의 원소 삭제하기
#### 문제 설명
정수 배열 arr과 delete_list가 있습니다. arr의 원소 중 delete_list의 원소를 모두 삭제하고 남은 원소들은 기존의 arr에 있던 순서를 유지한 배열을 return 하는 solution 함수를 작성해 주세요.  
  
arr	delete_list	result  
[293, 1000, 395, 678, 94]	[94, 777, 104, 1000, 1, 12]	[293, 395, 678]  
[110, 66, 439, 785, 1]	[377, 823, 119, 43]	[110, 66, 439, 785, 1]

In [9]:
def solution4(arr, delete_list):
    for i in arr:
        if i in delete_list:
            arr.pop(arr.index(i))
    return arr

In [13]:
def solution4_1(arr, delete_list):
    ans = []
    for i in arr:
        if not i in delete_list:
            ans.append(i)
    return ans

In [14]:
a1 = [293, 1000, 395, 678, 94]
d1 = [94, 777, 104, 1000, 1, 12]
a2 = [110, 66, 439, 785, 1]
d2 = [377, 823, 119, 43]

In [15]:
solution4(a1,d1)

[293, 395, 678]

In [12]:
solution4(a2,d2)

[110, 66, 439, 785, 1]

### Q5. 부분 문자열인지 확인하기
#### 문제 설명
부분 문자열이란 문자열에서 연속된 일부분에 해당하는 문자열을 의미합니다. 예를 들어, 문자열 "ana", "ban", "anana", "banana", "n"는 모두 문자열 "banana"의 부분 문자열이지만, "aaa", "bnana", "wxyz"는 모두 "banana"의 부분 문자열이 아닙니다.  
  
문자열 my_string과 target이 매개변수로 주어질 때, target이 문자열 my_string의 부분 문자열이라면 1을, 아니라면 0을 return 하는 solution 함수를 작성해 주세요.  
  
my_string	target	result  
"banana"	"ana"	1  
"banana"	"wxyz"	0

In [20]:
def solution5(my_string, target):
    answer = 0
    if target in my_string:
        answer += 1
    return answer

In [22]:
ms = "banana"
t = "ana"
t2 = "wxyz"

In [19]:
t in ms

True

In [21]:
solution5(ms,t)

1

In [23]:
solution5(ms,t2)

0